h1{
    font-size: 40px;
    background-color: blue; 

};

h2{
	font-size: 40px;
	background-color: red;
}
nav{
    font-size: 20px;
	background-color: red;
}
p{
    font-size: 25px;
    background-color: blue;	
}