body{
	background-image:url(фон-для-сайта-1024x576.jpg);
}
.block{
	text-align:center;
	font-family: SEGOE PRINT;
}

.menu *{
 padding: 0;
}
.menu > ul li a{
 display: block;
background-color:black;
width:150px;
height:0 auto;
 padding: 15px 30px 15px 40px;
 font-size: 14px;
 color: gray;
 text-decoration: none;
 text-transform:uppercase;
 transition: all 0.1s ease;
}
.menu li a:hover{
 color: red;
 box-shadow: 11px 11px 15px 5px gray;
 transition: all 0.3s ease;
}
