html {
  padding: 0;
  margin: 0;
    background: blue;

}
body {
  margin: 0;
  padding: 0;
}

.cont{
  position: relative;
  top: 50px;
  left: 20px;
  width: 928px;
  height: 700px;
  background: yellow;
}
#pust{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 400px;
  background: #fff;
}
.game{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  background: green;
  font-size: 20px;
}
.game1{
  border: 1px solid black;
  margin: 0;
  padding-left:10px;
  padding-right:10px;
  float: left;
  width: 210px;
  height: 300px;
  background: #00FF00;
}
.game1 > h1{
  text-align: center;
}
.game1 > p{
  text-align: center;
}
.game1 > .btns{
  height: 50px;
  width: 250px;
}
.btns > button{
  font-family: times new roman;
  height: 50px;
  width: 67px;
  font-size: 25px;
  cursor: pointer;
  background: #59f9c1;
  border-radius:10px;
}
#result > div{
  text-align: center;
  float: left;
  padding-top:8px;
  height: 30px;
  width: 60px;
  opacity: 0;
}
#gal, #iks, #gal2, #iks2, #gal3, #iks3,#gal4,#iks4{
  opacity: 0;
   font-size: 23px;
    cursor: pointer;
    background: #59f9c1;
    box-shadow: 0px 6px 0px #37a37d;
    border-radius:10px;
    margin-right: 5px;
    margin-left: 5px;
}

#moved{
  width:10px; 
  height:10px;
  position: absolute;
  border-radius:100%;
  background:#aa00aa;
  transform: translate3d(0px, 530px, 0px); //Начальная позиция отлеть от кнопки 
  z-index: 0;
  opacity: 0 ;
  transition: transform .2s ease-in-out;

}

div[id$="res"]{
    font-size: 23px;
    cursor: pointer;
    background: #59f9c1;
    box-shadow: 0px 6px 0px #37a37d;
    border-radius:10px;
}

#lvl3{
  font-size: 200%;
  position: absolute;
  top: 48%;
}
#lvl4{
  font-size: 200%;
  position: absolute;
  top:29%;
}
#lvl5{
  font-size: 200%;
  position: absolute;
  top: 10%
}


#rules{
  font-family: times new roman;
  position: absolute;
  left: 10%;
  top: 0;
  width: 1500px;
  padding: 10px;
  font-size:22px;
  box-shadow: 0px 0px 10px #000;
  background-color: rgba(0,0,0,0.8);
  color: white;
  border-radius: 5px;
}
#rules_btn> button{
  font-family: times new roman;
  height: 50px;
  width: auto;
  font-size: 25px;
  cursor: pointer;
  background: #59f9c1;
  border-radius:10px;
}
#rules> a{
  position: relative;
  left: 95%;
  font-family: Calibri;
  font-size: 25px;
  cursor: pointer;
  background: transparent;
  border-radius:10px;
}